1. 

Definition of summary statistics
   Count: the total number of non-missing values in the dataset
   Mean: the average of all the numeric numbers, calculated by summing all the values and then divide the count of the values.
   Std(Standard Deviation): How the values vary around the mean of the values, involving some mathematical operations with only numeric values.
   Min(minimum): the smallest value in the dataset,which only exists among numeric values.
   25%:the value below the 25th percentile of all of the values in the dataset, which is only for numeric and ordered values.
   50%(Median): the 50th percentile, the middle value in a numeric dataset. 
   75%:the the value below  the 50th percentile of all the values in the dataset, calculated by ordered, and numeric values. 
   Max(Maximum): the largest value in a numeric dataset.

In [7]:
2.(1)

import pandas as pd

data={'Condo name': ['A Condo','B Condo','C Condo'],
      'price': [100,None,300]}
df = pd.DataFrame(data)

# remove rows with missing value
df.dropna()

  Condo name  price
0    A Condo  100.0
2    C Condo  300.0

In [18]:
2.(2)

import pandas as pd 

data={'Condo name': ['A Condo', 'B Condo', 'C Condo','D Condo'],
      'Price': [100,200,300,400],
      'Location': ['Toronto', 'Ottawa', None, None]}
df = pd.DataFrame(data)
 
# remove the column with missing values
del df['Location']

In [19]:
df

  Condo name  Price
0    A Condo    100
1    B Condo    200
2    C Condo    300
3    D Condo    400

2.(3)
   We need to apply both del df['col'] and df.dropna. In this case, if we apply df.dropna first, this will delete all rows in any volumns with missing values. The result is that we would lose some useful values in the volumns we want to retain.
   However, when we apply del df['col'] first, the precondition to delete the volumn is that we are sure deleting the volumn will not affect the rows we want to retain. After that, then cleaning rows which could affect the volumn.

In [20]:
2.(4)

import pandas as pd 

data={'Condo name': ['A Condo', 'B Condo', 'C Condo','D Condo'],
      'Price': [100,200,None,400],
      'Location': ['Toronto', 'Ottawa', None, None]}
df = pd.DataFrame(data)
 
# remove the column with missing values
del df['Location']

In [21]:
df

  Condo name  Price
0    A Condo  100.0
1    B Condo  200.0
2    C Condo    NaN
3    D Condo  400.0

In [22]:
df.dropna()

  Condo name  Price
0    A Condo  100.0
1    B Condo  200.0
3    D Condo  400.0

2.(4)

Justification for my approach: Apply del.df['col'] before df.dropna()
    If I apply df.dropna first, the rows for  'C Condo' and 'D Condo' will both be deleted first.And then, it will affect the column of 'Condo name'and 'Price' which I want to retain.The result is that it will delete the useful values for me, which are 'D Condo' and its 'Price'. 
    However, if I apply del.df[] first, I plan to delete the column'Location' as it has many missing values, so it will not affect necessarily the raws I want to keep. After that, I just need to apply df.dropna() to clean the dataset, only deleting one row for 'C Condo' instead of two rows including 'D Condo'.

3.1

Demonstrate:
Housing dataset(https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.csv). In this dataset, col1 is "longitude" and col2 is "latitude", df.groupby("longitude")["latitude"].describe() would give the statistics about the latitude of houses at each longitude, including count, mean, std, min, 25%, 50%, 75%, and max.

Explain: In this case, this expression df.groupby("col1").["col"].describe() is to group data by the column (longitude), and then provide the statistics for another column (latitude) within each group. The statistics include  count, mean, std, min, 25%, 50%, 75%, and max.

3.2

Differences
   the expression of df.describe() summarizes the column as a whole and reports counts for each column. Missing values are excluded without affecting the output.
   the expression of df.groupby("col1")["col2").describe() breaks down the summary of column2 into groups. The groups are defined by column1, counting for each group. Missing values in column2 will affect the number of rows, affecting the groups.